.App {
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.parent-container {
  width:500px;
  max-width: 500px;
}

.container {
  width:500px;
  max-width: 500px;
}
.square {
  border:1px solid black;
  height:50px;
  
  display: flex;
  flex-grow: unset;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.permanent {
  background-color: #eee;
}

.unselected {
background-color: white;
}


  .icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
  }
